# Ignore Python virtual environment
venv/

# Ignore Pabot internal suite name file
.pabotsuitenames

# Ignore everything in Results/
Results/*

# But do NOT ignore these specific files inside Results/
!Results/log.html
!Results/output.xml
!Results/report.html
!Results/results.xlsx
